body {
  background-color: black;
  padding: 50px;
}

.parent {
  background-color: blanchedalmond;
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 5px;
  flex-wrap: wrap;
}
.child {
  background-color: red;
  width: 100px;
  height: 200px;
}
